[Unit]
Description=consul

[Service]
ExecStart=/usr/bin/consul agent -ui -data-dir /var/lib/consul -client 0.0.0.0 -advertise {{hostvars[inventory_hostname]['private_ip']}} --join {{hostvars[groups['nomad.0'][0]]['private_ip']}} 
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
